<div class="add-form-container row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add Users</nb-card-header>
      <nb-card-body>
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
          <div class="scrollable-container">
            <div class="form-group row">
              <label for="email" class="label col-md-2 col-form-label">Email: </label>
              <div class="col-md-10">
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  id="email"
                  nbInput
                  fullWidth
                  placeholder="Email"
                  required>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="label col-md-2 col-form-label">Password: </label>
              <div class="col-md-10">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  id="password"
                  nbInput
                  fullWidth
                  placeholder="Password"
                  ngxBlockCopyPaste
                  required>
              </div>
            </div>

            <div class="form-group row" *ngIf="forms.password.valid">
              <label for="confirmPassword" class="label col-md-2 col-form-label">Confirm Password: </label>
              <div class="col-md-10">
                <input
                  type="password"
                  class="form-control"
                  formControlName="confirm_password"
                  id="confirmPassword"
                  nbInput
                  fullWidth
                  placeholder="Confirm Password"
                  ngxBlockCopyPaste
                  required>
                <div *ngIf="forms.confirm_password.invalid" class="caption status-danger">
                  <div *ngIf="forms.confirm_password.errors.confirmedValidator" >
                    <br> Password and Confirm Password must be match
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="firstName" class="label col-md-2 col-form-label">First Name: </label>
              <div class="col-md-10">
                <input
                  type="text"
                  class="form-control"
                  formControlName="first_name"
                  id="firstName"
                  nbInput
                  fullWidth
                  [maxLength]="25"
                  placeholder="First Name"
                  required>
              </div>
            </div>

            <div class="form-group row">
              <label for="lastName" class="label col-md-2 col-form-label">Last Name: </label>
              <div class="col-md-10">
                <input
                  type="text"
                  class="form-control"
                  formControlName="last_name"
                  id="lastName"
                  nbInput
                  fullWidth
                  placeholder="Last Name"
                  [maxLength]="25"
                  required>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 label">User Type: </label>
              <div class="col-md-10">
                <nb-radio-group formControlName="user_type">
                  <nb-radio name="user_type" value="{{admin}}">Admin</nb-radio>
                  <nb-radio name="user_type" value="{{inspector}}">Inspector</nb-radio>
                </nb-radio-group>
                <div *ngIf="forms.user_type.invalid && (forms.user_type.dirty || forms.user_type.touched)" class="caption status-danger">
                  <div *ngIf="forms.user_type.errors.required" >
                    <br> User Type is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="float-right">
            <button class="cancel" nbButton matRipple status="danger" (click)="close()">Close</button>
            <button
              type="submit"
              nbButton
              matRipple
              status="success"
              [nbSpinner]="saving"
              [disabled]="addUserForm.invalid">
              Submit
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
