<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <button nbButton
                size="small"
                outline
                class="button-outline">
          Back <nb-icon icon="arrow-back-outline"></nb-icon>
        </button>
        <button nbButton
                status="success"
                size="small">
          Save <nb-icon icon="save-outline"></nb-icon>
        </button>
        <button nbButton
                size="small"
                outline
                class="button-outline">
          Reset <nb-icon icon="refresh-outline"></nb-icon>
        </button>
        <button nbButton
                status="danger"
                size="small">
           Delete <nb-icon icon="close-outline"></nb-icon>
        </button>
      </nb-card-header>
      <nb-card-body [nbSpinner]="loading" nbSpinnerSize="giant">
        <form [formGroup]="editRequirementForm">
          <div class="form-group row">
            <label for="requirement_id" class="label col-md-2 col-form-label">Requirement ID: </label>
            <div class="col-md-10">
              <input
                type="number"
                class="form-control"
                formControlName="requirement_id"
                id="requirement_id"
                nbInput
                fullWidth
                [attr.disabled]="true"
              >
            </div>
          </div>

          <div class="form-group row">
            <label for="requirement" class="label col-md-2 col-form-label">Requirement: </label>
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                formControlName="requirement"
                id="requirement"
                nbInput
                fullWidth
                [maxLength]="255"
                placeholder="Requirement"
                required>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <div class="float-right">
          <button nbButton
                  size="small"
                  outline
                  class="button-outline">
            Back <nb-icon icon="arrow-back-outline"></nb-icon>
          </button>
          <button nbButton
                  status="success"
                  size="small">
            Save <nb-icon icon="save-outline"></nb-icon>
          </button>
          <button nbButton
                  size="small"
                  outline
                  class="button-outline">
            Reset <nb-icon icon="refresh-outline"></nb-icon>
          </button>
          <button nbButton
                  status="danger"
                  size="small">
            Delete <nb-icon icon="close-outline"></nb-icon>
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
