<nb-card [nbSpinner]="loading" nbSpinnerSize="giant">
  <nb-card-header>
    <nb-icon icon="people-outline"></nb-icon>
    Users
  </nb-card-header>

  <nb-card-body>
    <button nbButton
            status="primary"
            size="medium"
            style="margin-bottom: 15px"
            (click)="showAddUsers()">
      Add <nb-icon icon="plus"></nb-icon>
    </button>

    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (userRowSelect)="editUser($event)"
    >
    </ng2-smart-table>

  </nb-card-body>
</nb-card>
